# Directorios y archivos a ignorar
/.continue/
modelos_cnn/
wandb/
.vscode/
.venv/
*logs/

*/__pycache__/

Contenedores/ts_airflow/config/
Contenedores/ts_airflow/dags/
Contenedores/ts_airflow/data/
Contenedores/ts_airflow/logs/
Contenedores/ts_airflow/plugins/

# Archivos de configuración y datos sensibles
.env
*.csv

# Datos de contenedores Docker
*postgres_data/
*superset_data/
*superset/__pycache__/

*.obsidian/