# Directorios y archivos a ignorar
/.continue/
modelos_cnn/
wandb/
.vscode/
.venv/
*logs/
*.zip
*.log
*.db
*.mimocode/
*output/
*__pycache__/
*herramientasPersonales/

## *tesis/

Contenedores/ts_airflow/config/
Contenedores/ts_airflow/dags/
Contenedores/ts_airflow/data/
Contenedores/ts_airflow/src/
Contenedores/ts_airflow/logs/
Contenedores/ts_airflow/plugins/

# Archivos de configuración y datos sensibles
.env
*.csv

# Datos de contenedores Docker
*postgres_data/
*superset_data/
*superset/__pycache__/

*.obsidian/
*.libs/

*.mimocode/
*.mimocode_code/
*DIAGRAMAS_MERMAID_files/
DocumentosBase/
tesis/revision002/main.toc
tesis/revision002/main.out
tesis/revision002/main.lot
tesis/revision002/main.aux
tesis/revision002/main.bbl
tesis/revision002/main.fdb_latexmk
tesis/revision002/main.fls
tesis/revision002/main.lof
tesis/revision002/RESUMEN_CAMBIOS.md
tesis/TesisMuestra.txt
tesis/revision002/DIAGRAMAS_MERMAID_files/libs/quarto-html/quarto-syntax-highlighting-dc55a5b9e770e841cd82e46aadbfb9b0.css
tesis/revision002/main.synctex.gz
tesis/revision001/main.aux
tesis/revision001/main.fdb_latexmk
tesis/revision001/main.fls
tesis/revision002/main.synctex.gz
tesis/revision002/main.synctex.gz
tesis/revision002/main.synctex.gz
tesis/revision002/main.synctex.gz
tesis/revision002/main.blg
tesis/revision002/main.pdf
tesis/revision002/main.synctex.gz
tesis/revision002/main.blg
tesis/revision002/main.pdf
tesis/revision002/main.synctex.gz
tesis/revision003/main.aux
tesis/revision003/main.aux
tesis/revision003/main.bbl
tesis/revision003/main.blg
tesis/revision003/main.fdb_latexmk
tesis/revision003/main.fls
tesis/revision003/main.lof
tesis/revision003/main.lot
tesis/revision003/main.toc
tesis/revision003/main.synctex.gz
tesis/revision003/main.toc
tesis/revision003/main.pdf
tesis/revision003/main.out
tesis/revision003/main.lot
tesis/revision003/main.lof
tesis/revision003/main.fls
tesis/revision003/main.aux
tesis/revision003/main.bbl
tesis/revision003/main.fls
tesis/revision003/main.lof
tesis/revision003/main.lot
tesis/revision003/main.out
tesis/revision003/main.toc
tesis/revision003/main.aux
tesis/revision003/main.aux
tesis/revision003/main.bbl
tesis/revision003/main.fls
tesis/revision003/main.lof
tesis/revision003/main.lot
tesis/revision003/main.out
tesis/revision003/main.toc
tesis/revision004/main.fdb_latexmk
tesis/revision004/main.fls
tesis/revision004/main.synctex.gz
tesis/revision004/main.synctex.gz
tesis/revision004/main.fls
tesis/revision004/main.fdb_latexmk
